@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

body {
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    margin: 5px;
    background-color: #eee;
}

#log {
    border: solid 1px #999;
    border-top-color: #ccc;
    border-left-color: #ccc;
    padding: 5px;
    width: auto;
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
}
